*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #b9e28c;
    text-align: center;
}
.container {
    height : 70 vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background-color: #d6d84f;
    font-size: 10vmin;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    color: #5b507a;
    
}

#newGame{
     padding: 1rem;
    font-size: 1.25rem;
    background-color: #5b618a;
    color: white;
    border-radius: 0.5rem;
    border: none;

}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #5b618a;
    color: white;
    border-radius: 0.5rem;
    border: none;

}

#message{
    color: white;
    font-size: 8vmin;
}

.messageContainer{
height: 200vmin;
}

.hide{
    display : none;
}